{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq
.Section "categories") (eq .Section "tags") }}
{{ $widget:= site.Params.widgets.sidebar }}

<section>
  <div class="container-fluid">
    <div class="post">
      <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
      <div class="post-content">
        <div class="post-date  animation--floating animation--title-in">
          <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
        </div>
        <h2 class="post-title  animation--floating animation--title-in">{{ .Title | markdownify }}</h2>
        {{ if .Params.interactive }}
        <div class="post-interactive animation--floating animation--title-in">Interactive</div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="block pb-0">
          <h1>{{ .Title | markdownify }}</h1>
          <div class="content mb-5">
            {{ .Content }}
          </div>
          <div class="mb-3 post-meta">
            {{range .Params.Tags }} <a class="bg-light py-2 px-3"
              href="{{ `tags/` | absLangURL}}{{ . | urlize | lower }}">#{{ . | title }}</a>
            {{ end }}
          </div>
        </div>

        {{ $related := site.RegularPages.Related . | first 5 }}
        {{ if $related }}
        <div class="block pt-0">

          {{ with $related }}
          <h3 class="mb-3">See Also</h3>
          <ul class="list-unstyled related-post-list">
            {{ range . }}
            <li><a class="d-inline-block py-1 text-dark" href="{{ .RelPermalink }}"><small
                  class="fas fa-external-link-alt mr-2"></small>{{.Title}}</a></li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}

        {{ if site.DisqusShortname}}
        <div class="block mt-4">
          <!-- comments -->
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ if .Params.script  }}
{{ with .Params.script }}
<script src="{{ . | absURL }}" defer="true"></script>
{{ end  }}
{{ end }}
{{ else }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ end }}