{{define "main"}}
<style>
  .sz-caption {
    display: none;
  }

  .engagements .container {
    padding: 100px;
    padding-bottom: 50px;
}

.sz-group__title {
  font-size: 1.25rem;
      color: #222;
    font-family: raleway,sans-serif;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 0.75rem ;
    padding-top: 1rem;
}

dd.sz-item {
 position: relative;
      padding-left: 20px;
      margin-bottom: 15px;
    }
dd.sz-item:before {
        content: "";
        position: absolute;
background-image: url("/images/star.svg");
        left: 0;
        top: 12px;
        transition: .3s ease;
        width: 16px;
        height: 16px;
}

dd.sz-item a {
      color: inherit !important;
      display: inline;
      text-decoration: none;
      background-image: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(114, 144, 218, 1) 5%, rgba(216, 224, 245, 1) 100%);
      background-position: 0 110%;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      transition: .3s;
    }
dd.sz-item a:hover {
          color: #000;
          background-size: 100% 100%;
        }
</style>

<section class="section overflow-hidden">

  <div class="container">
    <div class="row justify-content-center align-items-top text-center text-lg-left">
      <div class="col-lg-7">
        <div class="block content">
          <h1 class="mb-4">{{ .Title | markdownify }}</h1>
          {{ .Content | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .Params.engagements.enable }}
{{ with .Params.engagements }}
<section class="engagements pb-5">
  <div class="container bg-light">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center mb-5 pb-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row experiences-items justify-content-between">
      <script type="text/javascript"
        src="https://sessionize.com/api/speaker/events/3b96b6c8-6517-4485-9044-ee1c8706203e/0x1x3fb393x"></script>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
