<meta charset="utf-8">
{{ "<!-- mobile responsive meta -->" | safeHTML}}
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Site Title, Description, Author, and Favicon -->
{{- with .Params.seo_title | default (.Params.headline | plainify) | default (.Title | plainify) | default .Site.Title
}}
<title>{{ . | title }}{{- with $.Page.Params.seo_title_suffix | default $.Site.Params.seo_title_suffix }}{{ . }}{{- end
    }}</title>
<meta name="title"
    content="{{ . | truncate 65 | title }}{{- with $.Page.Params.seo_title_suffix | default $.Site.Params.seo_title_suffix }}{{ . }}{{- end }}" />
<meta property="og:title"
    content="{{ .  | title }}{{- with $.Page.Params.seo_title_suffix | default $.Site.Params.seo_title_suffix }}{{ . }}{{- end }}" />
<meta name="twitter:title"
    content="{{ . | truncate 70 | title }}{{- with $.Page.Params.seo_title_suffix | default $.Site.Params.seo_title_suffix }}{{ . }}{{- end }}" />
{{- end }}
{{ if isset .Page.Params "redirect_url" }}
<link rel="canonical" href="{{ .Page.Params.redirect_url }}" />
<meta name="robots" content="noindex">
<meta http-equiv="refresh" content="0; url={{ .Page.Params.redirect_url }}" />
{{ else }}
{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}
{{ end }}
{{- with .Site.Params.Description | default .Summary }}
{{- with . | replaceRE "{{[\\s\\S]*?}}" " " | truncate 160 }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">
<meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- end }}
<meta name="author" content="{{.Site.Author.name}}" />
{{- with .Params.page_favicon | default .Site.Params.favicon | default "https://www.eclipse.org/favicon.ico"}}
{{ "<!-- Favicon -->" | safeHTML}}
<link rel="icon" href="{{ site.Params.favicon | absURL }}" type="image/svg+xml" sizes="any">
{{- end -}}
<!-- Social Media Tags -->
{{- with .Params.share_img | default .Params.image | default .Site.Params.share_img | default .Site.Params.logo }}
<meta property="og:image" content="{{ . | absURL }}" />
<!--meta property="og:image:width" content="1240">
<meta property="og:image:height" content="650"-->
<meta name="twitter:image" content="{{ . | absURL }}" />
<meta name="twitter:image:src" content="{{ . | absURL }}" />
<!--meta name="thumbnail" content="path/to/image/thumb-150x150.png"-->
{{- end }}
<meta name="twitter:card" content="summary_large_image" />
{{- with .Site.Author.twitter }}
<meta name="twitter:site" content="@{{.}}" />
<meta name="twitter:creator" content="@{{.}}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:see_also" content="{{ .Site.BaseURL}}">
{{- with .Keywords | default .Site.Params.keywords }}
<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
{{ end }}

<!-- Hugo Version number -->
{{ hugo.Generator -}}

{{ with .OutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="">
{{ end }}

{{ partial "site_schema.html" . }}


<!-- google analytics -->
{{ template "_internal/google_analytics.html" . }}

<!-- google tag manager -->
{{ partial "gtm.html" . }}

<!-- Clarity -->
{{ partial "clarity.html" . }}

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad: true,
        securityLevel: 'loose',
        theme: 'neutral',
        themeVariables: {
            fontFamily: '"Segoe UI",-apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; ',
            primaryTextColor: '#171717',
        }
    });
</script>
{{ end }}

{{ if .Page.Store.Get "hasFlowchart" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.17.1/flowchart.min.js"
    integrity="sha512-emJotoOTtLFZ0H1ruR4v5pqW1mSen/JQCnjD4mcXwDT1sfZQmtqUDYv36X2S/iSun0kpgvvmBUWqpAupN104Kw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    window.onload = function () {
        var chart;
        
        var code = $('#flowchart').text();
        
        if (chart) {
        chart.clean();
        }
        
        chart = flowchart.parse(code);
        $('#flowchart').empty();
        chart.drawSVG('flowchart', {
            'font-size': 14,
            'font': 'normal',
            'font-family': 'Raleway',
            'font-weight': 'normal',
            'yes-text': 'yes',
            'no-text': 'no',
            'arrow-end': 'block',
            'scale': 1
                    });
    };
    </script>
{{ end }}
{{ if .Page.Store.Get "hasTimeline" }}
<style type="text/css">
    .tl-timeline {
    font-family: raleway,sans-serif!important;
}
.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title {
    text-shadow: none!important;
    color: #333;
}

.tl-slidenav-next .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-description, .tl-slidenav-previous .tl-slidenav-title {
    filter: none;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1!important;
}

.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
    font-family: raleway,sans-serif!important;
    color: #333!important;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/timelinejs3@3.4.0/compiled/js/timeline-min.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timelinejs3@3.4.0/compiled/css/timeline.min.css">
<script type="application/javascript">
    $(document).ready(() =>{
        var embed = document.getElementById('timeline-embed');
        var source = embed.getAttribute('data-src');
        window.timeline = new TL.Timeline('timeline-embed', source, {
            hash_bookmark: false,
            font: 'Raleway'
        });
    });
</script>
{{ end }}