@import url('https://fonts.googleapis.com/css?family=Raleway:400');

html {
  font-size: 112.5%;
}

/*18px*/

/*
https: //uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/
https: //type-scale.com/
*/

body {
  line-height: 1.75;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: $font-size;
  color: $text-color;
    font-weight: 400;
}

p, .paragraph {
  color: $text-color;
  font-family: $primary-font;
  margin-bottom: 1rem;
}

a {
  color: $text-color;
  &:hover{
    text-decoration: underline;
    color: $primary-color;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
    font-weight: 600;
    line-height: 1.3;
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

h1, .h1{
  // color: #9bab2c;
  // text-transform: uppercase;
  // font-weight: 100;
  // margin: 0.2em 0;
margin-top: 0;
  font-size: 3.052rem;
  // line-height: 1em;
}

h1 a,
h5 a {
  color: #9bab2c;
}

h2, .h2{
font-size: 2.441rem;
}

h3, .h3{
font-size: 1.953rem;
}

h4, .h4{
  font-size: 1.563rem;
}

h5, .h5{
  font-size: 1.25rem;
}

h6, .h6{
  font-size: 1.1rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

h2.h4 {
  font-weight: 700;
}

.section-title > h2.h4 {
  color: $primary-color;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: 1.5rem;
}