@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Special+Elite&display=swap');

html {
  font-size: 24px;
}

/*18px*/

/*
https: //uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/
https://type-scale.com/
*/

body {
  line-height: 1.75;
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
  color: $text-color;
    font-weight: 400;
}

p, .paragraph {
  color: $text-color;
  font-family: $primary-font;
  margin-bottom: 1rem;
  line-height: calc(1ex/0.32);
}

a {
  color: $text-color;
  &:hover{
    text-decoration: underline;
    color: $primary-color;
  }
}

h1,h2,h3,h4,h5,h6 {
  // color: $text-color-dark;
  font-family: $primary-font;
    font-weight: 600;
    line-height: 1.3;
    text-shadow: 0 0 1px transparent;
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

h1, .h1{
font-size: 2.5em;

  line-height: calc(1ex / 0.42);

  margin: calc(1ex / 0.42) 0;
}

h1 a,
h5 a {
  color: #9bab2c;
}

h2, .h2{
font-size: 2em;

  line-height: calc(1ex / 0.42);

  margin: calc(1ex / 0.42) 0;
}

h3, .h3{
font-size: 1.75em;

  line-height: calc(1ex / 0.38);

  margin: calc(1ex / 0.38) 0;
}

h4, .h4{
  font-size: 1.5em;
  
    line-height: calc(1ex / 0.37);
  
    margin: calc(1ex / 0.37) 0;
}

h5, .h5{
  font-size: 1.25rem;
}

h6, .h6{
  font-size: 1.1rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

h2.h4 {
  font-weight: 700;
  margin: unset;
}

.section-title > h2.h4 {
  color: $primary-color;
}

footer {
  font-size: 0.8rem;
}
// .content h2,
// .content h3,
// .content h4,
// .content h5,
// .content h6 {
//   padding-top: 1.5rem;
// }

// .content p:first-of-type::first-letter {
//    float: left;
//    font-size: 91px;
//    padding: 22px 23px 21px 25px;
//    line-height: 69%;
//    text-transform: capitalize;
//    background: $primary-color;
//    color:#fff;
//    border-right: 15px solid rgb(255, 255, 255);
//    border-top: 6px solid rgb(255, 255, 255);
//    border-bottom: 2px solid rgb(255, 255, 255);
//    border-image: initial;
//    border-left: none;
//  }
